Advanced Programming Assignment System/AccommodationBusinessLogic/web/WEB-INF/wsdl/localhost_8080/AccommodationWebService/AWebService.xsd_1.xsd

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.2-hudson-740-. --><xs:schema xmlns:tns="http://test/" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://test/">

<xs:element name="AdminProfile" type="tns:AdminProfile" />

<xs:element name="AdminProfileResponse" type="tns:AdminProfileResponse" />

<xs:element name="AdminSignUp" type="tns:AdminSignUp" />

<xs:element name="AdminSignUpResponse" type="tns:AdminSignUpResponse" />

<xs:element name="DeleteStudents" type="tns:DeleteStudents" />

<xs:element name="DeleteStudentsResponse" type="tns:DeleteStudentsResponse" />

<xs:element name="Enquirefeedback" type="tns:Enquirefeedback" />

<xs:element name="EnquirefeedbackResponse" type="tns:EnquirefeedbackResponse" />

<xs:element name="EntranceLoginDetails" type="tns:EntranceLoginDetails" />

<xs:element name="EntranceLoginDetailsResponse" type="tns:EntranceLoginDetailsResponse" />

<xs:element name="InsertEntranceLogin" type="tns:InsertEntranceLogin" />

<xs:element name="InsertEntranceLoginResponse" type="tns:InsertEntranceLoginResponse" />

<xs:element name="InsertProperty" type="tns:InsertProperty" />

<xs:element name="InsertPropertyResponse" type="tns:InsertPropertyResponse" />

<xs:element name="LandLordProfile" type="tns:LandLordProfile" />

<xs:element name="LandLordProfileResponse" type="tns:LandLordProfileResponse" />

<xs:element name="LandLordPropertydetails" type="tns:LandLordPropertydetails" />

<xs:element name="LandLordPropertydetailsResponse" type="tns:LandLordPropertydetailsResponse" />

<xs:element name="LandLordSignUp" type="tns:LandLordSignUp" />

<xs:element name="LandLordSignUpResponse" type="tns:LandLordSignUpResponse" />

<xs:element name="Propertydetails" type="tns:Propertydetails" />

<xs:element name="PropertydetailsResponse" type="tns:PropertydetailsResponse" />

<xs:element name="SearchAdminProfile" type="tns:SearchAdminProfile" />

<xs:element name="SearchAdminProfileResponse" type="tns:SearchAdminProfileResponse" />

<xs:element name="SearchLandLordProfile" type="tns:SearchLandLordProfile" />

<xs:element name="SearchLandLordProfileResponse" type="tns:SearchLandLordProfileResponse" />

<xs:element name="SearchStudentProfile" type="tns:SearchStudentProfile" />

<xs:element name="SearchStudentProfileResponse" type="tns:SearchStudentProfileResponse" />

<xs:element name="StudentProfile" type="tns:StudentProfile" />

<xs:element name="StudentProfileResponse" type="tns:StudentProfileResponse" />

<xs:element name="StudentSignUp" type="tns:StudentSignUp" />

<xs:element name="StudentSignUpResponse" type="tns:StudentSignUpResponse" />

<xs:element name="UpdateEntranceLogin" type="tns:UpdateEntranceLogin" />

<xs:element name="UpdateEntranceLoginResponse" type="tns:UpdateEntranceLoginResponse" />

<xs:element name="adminlogin" type="tns:adminlogin" />

<xs:element name="adminloginResponse" type="tns:adminloginResponse" />

<xs:element name="adminprofileimage" type="tns:adminprofileimage" />

<xs:element name="adminprofileimageResponse" type="tns:adminprofileimageResponse" />

<xs:element name="adminreceivedenquire" type="tns:adminreceivedenquire" />

<xs:element name="adminreceivedenquireResponse" type="tns:adminreceivedenquireResponse" />

<xs:element name="adminsentenquire" type="tns:adminsentenquire" />

<xs:element name="adminsentenquireResponse" type="tns:adminsentenquireResponse" />

<xs:element name="databaseconnection" type="tns:databaseconnection" />

<xs:element name="databaseconnectionResponse" type="tns:databaseconnectionResponse" />

<xs:element name="deleteEntranceLogin" type="tns:deleteEntranceLogin" />

<xs:element name="deleteEntranceLoginResponse" type="tns:deleteEntranceLoginResponse" />

<xs:element name="deleteLandLordProfile" type="tns:deleteLandLordProfile" />

<xs:element name="deleteLandLordProfileResponse" type="tns:deleteLandLordProfileResponse" />

<xs:element name="deleteProperty" type="tns:deleteProperty" />

<xs:element name="deletePropertyResponse" type="tns:deletePropertyResponse" />

<xs:element name="displayallEntranceLoginID" type="tns:displayallEntranceLoginID" />

<xs:element name="displayallEntranceLoginIDResponse" type="tns:displayallEntranceLoginIDResponse" />

<xs:element name="displayallLandLordID" type="tns:displayallLandLordID" />

<xs:element name="displayallLandLordIDResponse" type="tns:displayallLandLordIDResponse" />

<xs:element name="displayallPropertyID" type="tns:displayallPropertyID" />

<xs:element name="displayallPropertyIDResponse" type="tns:displayallPropertyIDResponse" />

<xs:element name="displayallStudentID" type="tns:displayallStudentID" />

<xs:element name="displayallStudentIDResponse" type="tns:displayallStudentIDResponse" />

<xs:element name="entrancelogin" type="tns:entrancelogin" />

<xs:element name="entranceloginResponse" type="tns:entranceloginResponse" />

<xs:element name="hello" type="tns:hello" />

<xs:element name="helloResponse" type="tns:helloResponse" />

<xs:element name="insertadminprofileimage" type="tns:insertadminprofileimage" />

<xs:element name="insertadminprofileimageResponse" type="tns:insertadminprofileimageResponse" />

<xs:element name="insertfirstpropertyimage" type="tns:insertfirstpropertyimage" />

<xs:element name="insertfirstpropertyimageResponse" type="tns:insertfirstpropertyimageResponse" />

<xs:element name="insertlandlordprofileimage" type="tns:insertlandlordprofileimage" />

<xs:element name="insertlandlordprofileimageResponse" type="tns:insertlandlordprofileimageResponse" />

<xs:element name="insertsecondpropertyimage" type="tns:insertsecondpropertyimage" />

<xs:element name="insertsecondpropertyimageResponse" type="tns:insertsecondpropertyimageResponse" />

<xs:element name="insertstudentprofileimage" type="tns:insertstudentprofileimage" />

<xs:element name="insertstudentprofileimageResponse" type="tns:insertstudentprofileimageResponse" />

<xs:element name="insertthirdpropertyimage" type="tns:insertthirdpropertyimage" />

<xs:element name="insertthirdpropertyimageResponse" type="tns:insertthirdpropertyimageResponse" />

<xs:element name="landlordlogin" type="tns:landlordlogin" />

<xs:element name="landlordloginResponse" type="tns:landlordloginResponse" />

<xs:element name="landlordprofileimage" type="tns:landlordprofileimage" />

<xs:element name="landlordprofileimageResponse" type="tns:landlordprofileimageResponse" />

<xs:element name="landlordreceivedenquire" type="tns:landlordreceivedenquire" />

<xs:element name="landlordreceivedenquireResponse" type="tns:landlordreceivedenquireResponse" />

<xs:element name="landlordsentenquire" type="tns:landlordsentenquire" />

<xs:element name="landlordsentenquireResponse" type="tns:landlordsentenquireResponse" />

<xs:element name="notification" type="tns:notification" />

<xs:element name="notificationResponse" type="tns:notificationResponse" />

<xs:element name="propertyimage" type="tns:propertyimage" />

<xs:element name="propertyimageResponse" type="tns:propertyimageResponse" />

<xs:element name="searchEnquire" type="tns:searchEnquire" />

<xs:element name="searchEnquireResponse" type="tns:searchEnquireResponse" />

<xs:element name="searchLandLordID" type="tns:searchLandLordID" />

<xs:element name="searchLandLordIDResponse" type="tns:searchLandLordIDResponse" />

<xs:element name="searchStudentID" type="tns:searchStudentID" />

<xs:element name="searchStudentIDResponse" type="tns:searchStudentIDResponse" />

<xs:element name="secondpropertyimage" type="tns:secondpropertyimage" />

<xs:element name="secondpropertyimageResponse" type="tns:secondpropertyimageResponse" />

<xs:element name="studentlogin" type="tns:studentlogin" />

<xs:element name="studentloginResponse" type="tns:studentloginResponse" />

<xs:element name="studentprofileimage" type="tns:studentprofileimage" />

<xs:element name="studentprofileimageResponse" type="tns:studentprofileimageResponse" />

<xs:element name="studentreceivedenquire" type="tns:studentreceivedenquire" />

<xs:element name="studentreceivedenquireResponse" type="tns:studentreceivedenquireResponse" />

<xs:element name="studentsentenquire" type="tns:studentsentenquire" />

<xs:element name="studentsentenquireResponse" type="tns:studentsentenquireResponse" />

<xs:element name="thirdpropertyimage" type="tns:thirdpropertyimage" />

<xs:element name="thirdpropertyimageResponse" type="tns:thirdpropertyimageResponse" />

<xs:element name="updateAdminProfile" type="tns:updateAdminProfile" />

<xs:element name="updateAdminProfileResponse" type="tns:updateAdminProfileResponse" />

<xs:element name="updateLandLordProfile" type="tns:updateLandLordProfile" />

<xs:element name="updateLandLordProfileResponse" type="tns:updateLandLordProfileResponse" />

<xs:element name="updateProperty" type="tns:updateProperty" />

<xs:element name="updatePropertyResponse" type="tns:updatePropertyResponse" />

<xs:element name="updateStudentProfile" type="tns:updateStudentProfile" />

<xs:element name="updateStudentProfileResponse" type="tns:updateStudentProfileResponse" />

<xs:element name="userEnquire" type="tns:userEnquire" />

<xs:element name="userEnquireResponse" type="tns:userEnquireResponse" />

<xs:element name="userenquirefeedback" type="tns:userenquirefeedback" />

<xs:element name="userenquirefeedbackResponse" type="tns:userenquirefeedbackResponse" />

<xs:complexType name="deleteProperty">
<xs:sequence>
<xs:element name="arg0" type="xs:string" minOccurs="0" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="deletePropertyResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="landlordprofileimage">
<xs:sequence>
<xs:element name="arg0" type="xs:string" minOccurs="0" />
<xs:element name="arg1" type="xs:string" minOccurs="0" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="landlordprofileimageResponse">
<xs:sequence>
<xs:element name="return" type="xs:base64Binary" nillable="true" minOccurs="0" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="deleteEntranceLogin">
<xs:sequence>
<xs:element name="arg0" type="xs:string" minOccurs="0" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="deleteEntranceLoginResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="insertstudentprofileimage">
<xs:sequence>
<xs:element name="arg0" type="xs:string" minOccurs="0" />
<xs:element name="arg1" type="xs:string" minOccurs="0" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="insertstudentprofileimageResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="adminlogin">
<xs:sequence>
<xs:element name="arg0" type="xs:string" minOccurs="0" />
<xs:element name="arg1" type="xs:string" minOccurs="0" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="adminloginResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="updateAdminProfile">
<xs:sequence>
<xs:element name="arg0" type="xs:string" minOccurs="0" />
<xs:element name="arg1" type="xs:string" minOccurs="0" />
<xs:element name="arg2" type="xs:string" minOccurs="0" />
<xs:element name="arg3" type="xs:string" minOccurs="0" />
<xs:element name="arg4" type="xs:string" minOccurs="0" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="updateAdminProfileResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="SearchAdminProfile">
<xs:sequence>
<xs:element name="arg0" type="xs:string" minOccurs="0" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="SearchAdminProfileResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="insertadminprofileimage">
<xs:sequence>
<xs:element name="arg0" type="xs:string" minOccurs="0" />
<xs:element name="arg1" type="xs:string" minOccurs="0" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="insertadminprofileimageResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="userenquirefeedback">
<xs:sequence>
<xs:element name="arg0" type="xs:string" minOccurs="0" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="userenquirefeedbackResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="landlordlogin">
<xs:sequence>
<xs:element name="arg0" type="xs:string" minOccurs="0" />
<xs:element name="arg1" type="xs:string" minOccurs="0" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="landlordloginResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="insertfirstpropertyimage">
<xs:sequence>
<xs:element name="arg0" type="xs:string" minOccurs="0" />
<xs:element name="arg1" type="xs:string" minOccurs="0" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="insertfirstpropertyimageResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="StudentSignUp">
<xs:sequence>
<xs:element name="arg0" type="xs:string" minOccurs="0" />
<xs:element name="arg1" type="xs:string" minOccurs="0" />
<xs:element name="arg2" type="xs:string" minOccurs="0" />
<xs:element name="arg3" type="xs:string" minOccurs="0" />
<xs:element name="arg4" type="xs:string" minOccurs="0" />
<xs:element name="arg5" type="xs:string" minOccurs="0" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="StudentSignUpResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="LandLordPropertydetails">
<xs:sequence>
<xs:element name="arg0" type="xs:string" minOccurs="0" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="LandLordPropertydetailsResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="displayallLandLordID">
<xs:sequence />
</xs:complexType>

<xs:complexType name="displayallLandLordIDResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="insertsecondpropertyimage">
<xs:sequence>
<xs:element name="arg0" type="xs:string" minOccurs="0" />
<xs:element name="arg1" type="xs:string" minOccurs="0" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="insertsecondpropertyimageResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="insertlandlordprofileimage">
<xs:sequence>
<xs:element name="arg0" type="xs:string" minOccurs="0" />
<xs:element name="arg1" type="xs:string" minOccurs="0" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="insertlandlordprofileimageResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="propertyimage">
<xs:sequence>
<xs:element name="arg0" type="xs:string" minOccurs="0" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="propertyimageResponse">
<xs:sequence>
<xs:element name="return" type="xs:base64Binary" nillable="true" minOccurs="0" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="updateLandLordProfile">
<xs:sequence>
<xs:element name="arg0" type="xs:string" minOccurs="0" />
<xs:element name="arg1" type="xs:string" minOccurs="0" />
<xs:element name="arg2" type="xs:string" minOccurs="0" />
<xs:element name="arg3" type="xs:string" minOccurs="0" />
<xs:element name="arg4" type="xs:string" minOccurs="0" />
<xs:element name="arg5" type="xs:string" minOccurs="0" />
<xs:element name="arg6" type="xs:string" minOccurs="0" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="updateLandLordProfileResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="EntranceLoginDetails">
<xs:sequence>
<xs:element name="arg0" type="xs:string" minOccurs="0" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="EntranceLoginDetailsResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="entrancelogin">
<xs:sequence>
<xs:element name="arg0" type="xs:string" minOccurs="0" />
<xs:element name="arg1" type="xs:string" minOccurs="0" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="entranceloginResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="searchLandLordID">
<xs:sequence>
<xs:element name="arg0" type="xs:string" minOccurs="0" />
<xs:element name="arg1" type="xs:string" minOccurs="0" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="searchLandLordIDResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="studentprofileimage">
<xs:sequence>
<xs:element name="arg0" type="xs:string" minOccurs="0" />
<xs:element name="arg1" type="xs:string" minOccurs="0" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="studentprofileimageResponse">
<xs:sequence>
<xs:element name="return" type="xs:base64Binary" nillable="true" minOccurs="0" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="databaseconnection">
<xs:sequence />
</xs:complexType>

<xs:complexType name="databaseconnectionResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="SearchStudentProfile">
<xs:sequence>
<xs:element name="arg0" type="xs:string" minOccurs="0" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="SearchStudentProfileResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="StudentProfile">
<xs:sequence>
<xs:element name="arg0" type="xs:string" minOccurs="0" />
<xs:element name="arg1" type="xs:string" minOccurs="0" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="StudentProfileResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="adminsentenquire">
<xs:sequence>
<xs:element name="arg0" type="xs:string" minOccurs="0" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="adminsentenquireResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="AdminSignUp">
<xs:sequence>
<xs:element name="arg0" type="xs:string" minOccurs="0" />
<xs:element name="arg1" type="xs:string" minOccurs="0" />
<xs:element name="arg2" type="xs:string" minOccurs="0" />
<xs:element name="arg3" type="xs:string" minOccurs="0" />
<xs:element name="arg4" type="xs:string" minOccurs="0" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="AdminSignUpResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="landlordsentenquire">
<xs:sequence>
<xs:element name="arg0" type="xs:string" minOccurs="0" />
<xs:element name="arg1" type="xs:string" minOccurs="0" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="landlordsentenquireResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="LandLordSignUp">
<xs:sequence>
<xs:element name="arg0" type="xs:string" minOccurs="0" />
<xs:element name="arg1" type="xs:string" minOccurs="0" />
<xs:element name="arg2" type="xs:string" minOccurs="0" />
<xs:element name="arg3" type="xs:string" minOccurs="0" />
<xs:element name="arg4" type="xs:string" minOccurs="0" />
<xs:element name="arg5" type="xs:string" minOccurs="0" />
<xs:element name="arg6" type="xs:string" minOccurs="0" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="LandLordSignUpResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="displayallPropertyID">
<xs:sequence />
</xs:complexType>

<xs:complexType name="displayallPropertyIDResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="UpdateEntranceLogin">
<xs:sequence>
<xs:element name="arg0" type="xs:string" minOccurs="0" />
<xs:element name="arg1" type="xs:string" minOccurs="0" />
<xs:element name="arg2" type="xs:string" minOccurs="0" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="UpdateEntranceLoginResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="secondpropertyimage">
<xs:sequence>
<xs:element name="arg0" type="xs:string" minOccurs="0" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="secondpropertyimageResponse">
<xs:sequence>
<xs:element name="return" type="xs:base64Binary" nillable="true" minOccurs="0" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="studentreceivedenquire">
<xs:sequence>
<xs:element name="arg0" type="xs:string" minOccurs="0" />
<xs:element name="arg1" type="xs:string" minOccurs="0" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="studentreceivedenquireResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="deleteLandLordProfile">
<xs:sequence>
<xs:element name="arg0" type="xs:string" minOccurs="0" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="deleteLandLordProfileResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="displayallStudentID">
<xs:sequence />
</xs:complexType>

<xs:complexType name="displayallStudentIDResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="userEnquire">
<xs:sequence>
<xs:element name="arg0" type="xs:string" minOccurs="0" />
<xs:element name="arg1" type="xs:string" minOccurs="0" />
<xs:element name="arg2" type="xs:string" minOccurs="0" />
<xs:element name="arg3" type="xs:string" minOccurs="0" />
<xs:element name="arg4" type="xs:string" minOccurs="0" />
<xs:element name="arg5" type="xs:string" minOccurs="0" />
<xs:element name="arg6" type="xs:string" minOccurs="0" />
<xs:element name="arg7" type="xs:string" minOccurs="0" />
<xs:element name="arg8" type="xs:string" minOccurs="0" />
<xs:element name="arg9" type="xs:string" minOccurs="0" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="userEnquireResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="studentlogin">
<xs:sequence>
<xs:element name="arg0" type="xs:string" minOccurs="0" />
<xs:element name="arg1" type="xs:string" minOccurs="0" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="studentloginResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="Enquirefeedback">
<xs:sequence>
<xs:element name="arg0" type="xs:string" minOccurs="0" />
<xs:element name="arg1" type="xs:string" minOccurs="0" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="EnquirefeedbackResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="adminreceivedenquire">
<xs:sequence>
<xs:element name="arg0" type="xs:string" minOccurs="0" />
<xs:element name="arg1" type="xs:string" minOccurs="0" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="adminreceivedenquireResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="SearchLandLordProfile">
<xs:sequence>
<xs:element name="arg0" type="xs:string" minOccurs="0" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="SearchLandLordProfileResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="updateProperty">
<xs:sequence>
<xs:element name="arg0" type="xs:string" minOccurs="0" />
<xs:element name="arg1" type="xs:string" minOccurs="0" />
<xs:element name="arg2" type="xs:string" minOccurs="0" />
<xs:element name="arg3" type="xs:string" minOccurs="0" />
<xs:element name="arg4" type="xs:string" minOccurs="0" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="updatePropertyResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="updateStudentProfile">
<xs:sequence>
<xs:element name="arg0" type="xs:string" minOccurs="0" />
<xs:element name="arg1" type="xs:string" minOccurs="0" />
<xs:element name="arg2" type="xs:string" minOccurs="0" />
<xs:element name="arg3" type="xs:string" minOccurs="0" />
<xs:element name="arg4" type="xs:string" minOccurs="0" />
<xs:element name="arg5" type="xs:string" minOccurs="0" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="updateStudentProfileResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="landlordreceivedenquire">
<xs:sequence>
<xs:element name="arg0" type="xs:string" minOccurs="0" />
<xs:element name="arg1" type="xs:string" minOccurs="0" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="landlordreceivedenquireResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="searchEnquire">
<xs:sequence>
<xs:element name="arg0" type="xs:string" minOccurs="0" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="searchEnquireResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="notification">
<xs:sequence />
</xs:complexType>

<xs:complexType name="notificationResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="thirdpropertyimage">
<xs:sequence>
<xs:element name="arg0" type="xs:string" minOccurs="0" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="thirdpropertyimageResponse">
<xs:sequence>
<xs:element name="return" type="xs:base64Binary" nillable="true" minOccurs="0" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="insertthirdpropertyimage">
<xs:sequence>
<xs:element name="arg0" type="xs:string" minOccurs="0" />
<xs:element name="arg1" type="xs:string" minOccurs="0" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="insertthirdpropertyimageResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="adminprofileimage">
<xs:sequence>
<xs:element name="arg0" type="xs:string" minOccurs="0" />
<xs:element name="arg1" type="xs:string" minOccurs="0" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="adminprofileimageResponse">
<xs:sequence>
<xs:element name="return" type="xs:base64Binary" nillable="true" minOccurs="0" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="searchStudentID">
<xs:sequence>
<xs:element name="arg0" type="xs:string" minOccurs="0" />
<xs:element name="arg1" type="xs:string" minOccurs="0" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="searchStudentIDResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="InsertProperty">
<xs:sequence>
<xs:element name="arg0" type="xs:string" minOccurs="0" />
<xs:element name="arg1" type="xs:string" minOccurs="0" />
<xs:element name="arg2" type="xs:string" minOccurs="0" />
<xs:element name="arg3" type="xs:string" minOccurs="0" />
<xs:element name="arg4" type="xs:string" minOccurs="0" />
<xs:element name="arg5" type="xs:string" minOccurs="0" />
<xs:element name="arg6" type="xs:string" minOccurs="0" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="InsertPropertyResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="InsertEntranceLogin">
<xs:sequence>
<xs:element name="arg0" type="xs:string" minOccurs="0" />
<xs:element name="arg1" type="xs:string" minOccurs="0" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="InsertEntranceLoginResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="DeleteStudents">
<xs:sequence>
<xs:element name="arg0" type="xs:string" minOccurs="0" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="DeleteStudentsResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="displayallEntranceLoginID">
<xs:sequence />
</xs:complexType>

<xs:complexType name="displayallEntranceLoginIDResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="Propertydetails">
<xs:sequence>
<xs:element name="arg0" type="xs:string" minOccurs="0" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="PropertydetailsResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="LandLordProfile">
<xs:sequence>
<xs:element name="arg0" type="xs:string" minOccurs="0" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="LandLordProfileResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="hello">
<xs:sequence>
<xs:element name="name" type="xs:string" minOccurs="0" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="helloResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="AdminProfile">
<xs:sequence>
<xs:element name="arg0" type="xs:string" minOccurs="0" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="AdminProfileResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="studentsentenquire">
<xs:sequence>
<xs:element name="arg0" type="xs:string" minOccurs="0" />
<xs:element name="arg1" type="xs:string" minOccurs="0" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="studentsentenquireResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0" />
</xs:sequence>
</xs:complexType>
</xs:schema>