Advanced Programming Assignment System/AccommodationBusinessLogic/web/WEB-INF/wsdl/localhost_8080/AccommodationWebService/AWebService.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.2-hudson-740-. --><!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.2-hudson-740-. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://test/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://test/" name="AWebService">
<types>
<xsd:schema>
<xsd:import namespace="http://test/" schemaLocation="http://localhost:8080/AccommodationWebService/AWebService?xsd=1" />
</xsd:schema>
</types>
<message name="notification">
<part name="parameters" element="tns:notification" />
</message>
<message name="notificationResponse">
<part name="parameters" element="tns:notificationResponse" />
</message>
<message name="entrancelogin">
<part name="parameters" element="tns:entrancelogin" />
</message>
<message name="entranceloginResponse">
<part name="parameters" element="tns:entranceloginResponse" />
</message>
<message name="StudentSignUp">
<part name="parameters" element="tns:StudentSignUp" />
</message>
<message name="StudentSignUpResponse">
<part name="parameters" element="tns:StudentSignUpResponse" />
</message>
<message name="searchLandLordID">
<part name="parameters" element="tns:searchLandLordID" />
</message>
<message name="searchLandLordIDResponse">
<part name="parameters" element="tns:searchLandLordIDResponse" />
</message>
<message name="userEnquire">
<part name="parameters" element="tns:userEnquire" />
</message>
<message name="userEnquireResponse">
<part name="parameters" element="tns:userEnquireResponse" />
</message>
<message name="landlordlogin">
<part name="parameters" element="tns:landlordlogin" />
</message>
<message name="landlordloginResponse">
<part name="parameters" element="tns:landlordloginResponse" />
</message>
<message name="adminlogin">
<part name="parameters" element="tns:adminlogin" />
</message>
<message name="adminloginResponse">
<part name="parameters" element="tns:adminloginResponse" />
</message>
<message name="studentlogin">
<part name="parameters" element="tns:studentlogin" />
</message>
<message name="studentloginResponse">
<part name="parameters" element="tns:studentloginResponse" />
</message>
<message name="LandLordSignUp">
<part name="parameters" element="tns:LandLordSignUp" />
</message>
<message name="LandLordSignUpResponse">
<part name="parameters" element="tns:LandLordSignUpResponse" />
</message>
<message name="searchStudentID">
<part name="parameters" element="tns:searchStudentID" />
</message>
<message name="searchStudentIDResponse">
<part name="parameters" element="tns:searchStudentIDResponse" />
</message>
<message name="StudentProfile">
<part name="parameters" element="tns:StudentProfile" />
</message>
<message name="StudentProfileResponse">
<part name="parameters" element="tns:StudentProfileResponse" />
</message>
<message name="hello">
<part name="parameters" element="tns:hello" />
</message>
<message name="helloResponse">
<part name="parameters" element="tns:helloResponse" />
</message>
<message name="AdminSignUp">
<part name="parameters" element="tns:AdminSignUp" />
</message>
<message name="AdminSignUpResponse">
<part name="parameters" element="tns:AdminSignUpResponse" />
</message>
<message name="deleteProperty">
<part name="parameters" element="tns:deleteProperty" />
</message>
<message name="deletePropertyResponse">
<part name="parameters" element="tns:deletePropertyResponse" />
</message>
<message name="Enquirefeedback">
<part name="parameters" element="tns:Enquirefeedback" />
</message>
<message name="EnquirefeedbackResponse">
<part name="parameters" element="tns:EnquirefeedbackResponse" />
</message>
<message name="updateProperty">
<part name="parameters" element="tns:updateProperty" />
</message>
<message name="updatePropertyResponse">
<part name="parameters" element="tns:updatePropertyResponse" />
</message>
<message name="Propertydetails">
<part name="parameters" element="tns:Propertydetails" />
</message>
<message name="PropertydetailsResponse">
<part name="parameters" element="tns:PropertydetailsResponse" />
</message>
<message name="searchEnquire">
<part name="parameters" element="tns:searchEnquire" />
</message>
<message name="searchEnquireResponse">
<part name="parameters" element="tns:searchEnquireResponse" />
</message>
<message name="DeleteStudents">
<part name="parameters" element="tns:DeleteStudents" />
</message>
<message name="DeleteStudentsResponse">
<part name="parameters" element="tns:DeleteStudentsResponse" />
</message>
<message name="propertyimage">
<part name="parameters" element="tns:propertyimage" />
</message>
<message name="propertyimageResponse">
<part name="parameters" element="tns:propertyimageResponse" />
</message>
<message name="InsertProperty">
<part name="parameters" element="tns:InsertProperty" />
</message>
<message name="InsertPropertyResponse">
<part name="parameters" element="tns:InsertPropertyResponse" />
</message>
<message name="adminsentenquire">
<part name="parameters" element="tns:adminsentenquire" />
</message>
<message name="adminsentenquireResponse">
<part name="parameters" element="tns:adminsentenquireResponse" />
</message>
<message name="AdminProfile">
<part name="parameters" element="tns:AdminProfile" />
</message>
<message name="AdminProfileResponse">
<part name="parameters" element="tns:AdminProfileResponse" />
</message>
<message name="LandLordProfile">
<part name="parameters" element="tns:LandLordProfile" />
</message>
<message name="LandLordProfileResponse">
<part name="parameters" element="tns:LandLordProfileResponse" />
</message>
<message name="displayallStudentID">
<part name="parameters" element="tns:displayallStudentID" />
</message>
<message name="displayallStudentIDResponse">
<part name="parameters" element="tns:displayallStudentIDResponse" />
</message>
<message name="displayallLandLordID">
<part name="parameters" element="tns:displayallLandLordID" />
</message>
<message name="displayallLandLordIDResponse">
<part name="parameters" element="tns:displayallLandLordIDResponse" />
</message>
<message name="UpdateEntranceLogin">
<part name="parameters" element="tns:UpdateEntranceLogin" />
</message>
<message name="UpdateEntranceLoginResponse">
<part name="parameters" element="tns:UpdateEntranceLoginResponse" />
</message>
<message name="thirdpropertyimage">
<part name="parameters" element="tns:thirdpropertyimage" />
</message>
<message name="thirdpropertyimageResponse">
<part name="parameters" element="tns:thirdpropertyimageResponse" />
</message>
<message name="insertadminprofileimage">
<part name="parameters" element="tns:insertadminprofileimage" />
</message>
<message name="insertadminprofileimageResponse">
<part name="parameters" element="tns:insertadminprofileimageResponse" />
</message>
<message name="studentreceivedenquire">
<part name="parameters" element="tns:studentreceivedenquire" />
</message>
<message name="studentreceivedenquireResponse">
<part name="parameters" element="tns:studentreceivedenquireResponse" />
</message>
<message name="SearchAdminProfile">
<part name="parameters" element="tns:SearchAdminProfile" />
</message>
<message name="SearchAdminProfileResponse">
<part name="parameters" element="tns:SearchAdminProfileResponse" />
</message>
<message name="updateLandLordProfile">
<part name="parameters" element="tns:updateLandLordProfile" />
</message>
<message name="updateLandLordProfileResponse">
<part name="parameters" element="tns:updateLandLordProfileResponse" />
</message>
<message name="insertfirstpropertyimage">
<part name="parameters" element="tns:insertfirstpropertyimage" />
</message>
<message name="insertfirstpropertyimageResponse">
<part name="parameters" element="tns:insertfirstpropertyimageResponse" />
</message>
<message name="studentsentenquire">
<part name="parameters" element="tns:studentsentenquire" />
</message>
<message name="studentsentenquireResponse">
<part name="parameters" element="tns:studentsentenquireResponse" />
</message>
<message name="InsertEntranceLogin">
<part name="parameters" element="tns:InsertEntranceLogin" />
</message>
<message name="InsertEntranceLoginResponse">
<part name="parameters" element="tns:InsertEntranceLoginResponse" />
</message>
<message name="LandLordPropertydetails">
<part name="parameters" element="tns:LandLordPropertydetails" />
</message>
<message name="LandLordPropertydetailsResponse">
<part name="parameters" element="tns:LandLordPropertydetailsResponse" />
</message>
<message name="SearchStudentProfile">
<part name="parameters" element="tns:SearchStudentProfile" />
</message>
<message name="SearchStudentProfileResponse">
<part name="parameters" element="tns:SearchStudentProfileResponse" />
</message>
<message name="adminreceivedenquire">
<part name="parameters" element="tns:adminreceivedenquire" />
</message>
<message name="adminreceivedenquireResponse">
<part name="parameters" element="tns:adminreceivedenquireResponse" />
</message>
<message name="landlordreceivedenquire">
<part name="parameters" element="tns:landlordreceivedenquire" />
</message>
<message name="landlordreceivedenquireResponse">
<part name="parameters" element="tns:landlordreceivedenquireResponse" />
</message>
<message name="insertsecondpropertyimage">
<part name="parameters" element="tns:insertsecondpropertyimage" />
</message>
<message name="insertsecondpropertyimageResponse">
<part name="parameters" element="tns:insertsecondpropertyimageResponse" />
</message>
<message name="updateStudentProfile">
<part name="parameters" element="tns:updateStudentProfile" />
</message>
<message name="updateStudentProfileResponse">
<part name="parameters" element="tns:updateStudentProfileResponse" />
</message>
<message name="SearchLandLordProfile">
<part name="parameters" element="tns:SearchLandLordProfile" />
</message>
<message name="SearchLandLordProfileResponse">
<part name="parameters" element="tns:SearchLandLordProfileResponse" />
</message>
<message name="insertstudentprofileimage">
<part name="parameters" element="tns:insertstudentprofileimage" />
</message>
<message name="insertstudentprofileimageResponse">
<part name="parameters" element="tns:insertstudentprofileimageResponse" />
</message>
<message name="studentprofileimage">
<part name="parameters" element="tns:studentprofileimage" />
</message>
<message name="studentprofileimageResponse">
<part name="parameters" element="tns:studentprofileimageResponse" />
</message>
<message name="EntranceLoginDetails">
<part name="parameters" element="tns:EntranceLoginDetails" />
</message>
<message name="EntranceLoginDetailsResponse">
<part name="parameters" element="tns:EntranceLoginDetailsResponse" />
</message>
<message name="userenquirefeedback">
<part name="parameters" element="tns:userenquirefeedback" />
</message>
<message name="userenquirefeedbackResponse">
<part name="parameters" element="tns:userenquirefeedbackResponse" />
</message>
<message name="updateAdminProfile">
<part name="parameters" element="tns:updateAdminProfile" />
</message>
<message name="updateAdminProfileResponse">
<part name="parameters" element="tns:updateAdminProfileResponse" />
</message>
<message name="displayallPropertyID">
<part name="parameters" element="tns:displayallPropertyID" />
</message>
<message name="displayallPropertyIDResponse">
<part name="parameters" element="tns:displayallPropertyIDResponse" />
</message>
<message name="databaseconnection">
<part name="parameters" element="tns:databaseconnection" />
</message>
<message name="databaseconnectionResponse">
<part name="parameters" element="tns:databaseconnectionResponse" />
</message>
<message name="secondpropertyimage">
<part name="parameters" element="tns:secondpropertyimage" />
</message>
<message name="secondpropertyimageResponse">
<part name="parameters" element="tns:secondpropertyimageResponse" />
</message>
<message name="adminprofileimage">
<part name="parameters" element="tns:adminprofileimage" />
</message>
<message name="adminprofileimageResponse">
<part name="parameters" element="tns:adminprofileimageResponse" />
</message>
<message name="displayallEntranceLoginID">
<part name="parameters" element="tns:displayallEntranceLoginID" />
</message>
<message name="displayallEntranceLoginIDResponse">
<part name="parameters" element="tns:displayallEntranceLoginIDResponse" />
</message>
<message name="landlordsentenquire">
<part name="parameters" element="tns:landlordsentenquire" />
</message>
<message name="landlordsentenquireResponse">
<part name="parameters" element="tns:landlordsentenquireResponse" />
</message>
<message name="deleteLandLordProfile">
<part name="parameters" element="tns:deleteLandLordProfile" />
</message>
<message name="deleteLandLordProfileResponse">
<part name="parameters" element="tns:deleteLandLordProfileResponse" />
</message>
<message name="landlordprofileimage">
<part name="parameters" element="tns:landlordprofileimage" />
</message>
<message name="landlordprofileimageResponse">
<part name="parameters" element="tns:landlordprofileimageResponse" />
</message>
<message name="insertlandlordprofileimage">
<part name="parameters" element="tns:insertlandlordprofileimage" />
</message>
<message name="insertlandlordprofileimageResponse">
<part name="parameters" element="tns:insertlandlordprofileimageResponse" />
</message>
<message name="insertthirdpropertyimage">
<part name="parameters" element="tns:insertthirdpropertyimage" />
</message>
<message name="insertthirdpropertyimageResponse">
<part name="parameters" element="tns:insertthirdpropertyimageResponse" />
</message>
<message name="deleteEntranceLogin">
<part name="parameters" element="tns:deleteEntranceLogin" />
</message>
<message name="deleteEntranceLoginResponse">
<part name="parameters" element="tns:deleteEntranceLoginResponse" />
</message>
<portType name="AWebService">
<operation name="notification">
<input wsam:Action="http://test/AWebService/notificationRequest" message="tns:notification" />
<output wsam:Action="http://test/AWebService/notificationResponse" message="tns:notificationResponse" />
</operation>
<operation name="entrancelogin">
<input wsam:Action="http://test/AWebService/entranceloginRequest" message="tns:entrancelogin" />
<output wsam:Action="http://test/AWebService/entranceloginResponse" message="tns:entranceloginResponse" />
</operation>
<operation name="StudentSignUp">
<input wsam:Action="http://test/AWebService/StudentSignUpRequest" message="tns:StudentSignUp" />
<output wsam:Action="http://test/AWebService/StudentSignUpResponse" message="tns:StudentSignUpResponse" />
</operation>
<operation name="searchLandLordID">
<input wsam:Action="http://test/AWebService/searchLandLordIDRequest" message="tns:searchLandLordID" />
<output wsam:Action="http://test/AWebService/searchLandLordIDResponse" message="tns:searchLandLordIDResponse" />
</operation>
<operation name="userEnquire">
<input wsam:Action="http://test/AWebService/userEnquireRequest" message="tns:userEnquire" />
<output wsam:Action="http://test/AWebService/userEnquireResponse" message="tns:userEnquireResponse" />
</operation>
<operation name="landlordlogin">
<input wsam:Action="http://test/AWebService/landlordloginRequest" message="tns:landlordlogin" />
<output wsam:Action="http://test/AWebService/landlordloginResponse" message="tns:landlordloginResponse" />
</operation>
<operation name="adminlogin">
<input wsam:Action="http://test/AWebService/adminloginRequest" message="tns:adminlogin" />
<output wsam:Action="http://test/AWebService/adminloginResponse" message="tns:adminloginResponse" />
</operation>
<operation name="studentlogin">
<input wsam:Action="http://test/AWebService/studentloginRequest" message="tns:studentlogin" />
<output wsam:Action="http://test/AWebService/studentloginResponse" message="tns:studentloginResponse" />
</operation>
<operation name="LandLordSignUp">
<input wsam:Action="http://test/AWebService/LandLordSignUpRequest" message="tns:LandLordSignUp" />
<output wsam:Action="http://test/AWebService/LandLordSignUpResponse" message="tns:LandLordSignUpResponse" />
</operation>
<operation name="searchStudentID">
<input wsam:Action="http://test/AWebService/searchStudentIDRequest" message="tns:searchStudentID" />
<output wsam:Action="http://test/AWebService/searchStudentIDResponse" message="tns:searchStudentIDResponse" />
</operation>
<operation name="StudentProfile">
<input wsam:Action="http://test/AWebService/StudentProfileRequest" message="tns:StudentProfile" />
<output wsam:Action="http://test/AWebService/StudentProfileResponse" message="tns:StudentProfileResponse" />
</operation>
<operation name="hello">
<input wsam:Action="http://test/AWebService/helloRequest" message="tns:hello" />
<output wsam:Action="http://test/AWebService/helloResponse" message="tns:helloResponse" />
</operation>
<operation name="AdminSignUp">
<input wsam:Action="http://test/AWebService/AdminSignUpRequest" message="tns:AdminSignUp" />
<output wsam:Action="http://test/AWebService/AdminSignUpResponse" message="tns:AdminSignUpResponse" />
</operation>
<operation name="deleteProperty">
<input wsam:Action="http://test/AWebService/deletePropertyRequest" message="tns:deleteProperty" />
<output wsam:Action="http://test/AWebService/deletePropertyResponse" message="tns:deletePropertyResponse" />
</operation>
<operation name="Enquirefeedback">
<input wsam:Action="http://test/AWebService/EnquirefeedbackRequest" message="tns:Enquirefeedback" />
<output wsam:Action="http://test/AWebService/EnquirefeedbackResponse" message="tns:EnquirefeedbackResponse" />
</operation>
<operation name="updateProperty">
<input wsam:Action="http://test/AWebService/updatePropertyRequest" message="tns:updateProperty" />
<output wsam:Action="http://test/AWebService/updatePropertyResponse" message="tns:updatePropertyResponse" />
</operation>
<operation name="Propertydetails">
<input wsam:Action="http://test/AWebService/PropertydetailsRequest" message="tns:Propertydetails" />
<output wsam:Action="http://test/AWebService/PropertydetailsResponse" message="tns:PropertydetailsResponse" />
</operation>
<operation name="searchEnquire">
<input wsam:Action="http://test/AWebService/searchEnquireRequest" message="tns:searchEnquire" />
<output wsam:Action="http://test/AWebService/searchEnquireResponse" message="tns:searchEnquireResponse" />
</operation>
<operation name="DeleteStudents">
<input wsam:Action="http://test/AWebService/DeleteStudentsRequest" message="tns:DeleteStudents" />
<output wsam:Action="http://test/AWebService/DeleteStudentsResponse" message="tns:DeleteStudentsResponse" />
</operation>
<operation name="propertyimage">
<input wsam:Action="http://test/AWebService/propertyimageRequest" message="tns:propertyimage" />
<output wsam:Action="http://test/AWebService/propertyimageResponse" message="tns:propertyimageResponse" />
</operation>
<operation name="InsertProperty">
<input wsam:Action="http://test/AWebService/InsertPropertyRequest" message="tns:InsertProperty" />
<output wsam:Action="http://test/AWebService/InsertPropertyResponse" message="tns:InsertPropertyResponse" />
</operation>
<operation name="adminsentenquire">
<input wsam:Action="http://test/AWebService/adminsentenquireRequest" message="tns:adminsentenquire" />
<output wsam:Action="http://test/AWebService/adminsentenquireResponse" message="tns:adminsentenquireResponse" />
</operation>
<operation name="AdminProfile">
<input wsam:Action="http://test/AWebService/AdminProfileRequest" message="tns:AdminProfile" />
<output wsam:Action="http://test/AWebService/AdminProfileResponse" message="tns:AdminProfileResponse" />
</operation>
<operation name="LandLordProfile">
<input wsam:Action="http://test/AWebService/LandLordProfileRequest" message="tns:LandLordProfile" />
<output wsam:Action="http://test/AWebService/LandLordProfileResponse" message="tns:LandLordProfileResponse" />
</operation>
<operation name="displayallStudentID">
<input wsam:Action="http://test/AWebService/displayallStudentIDRequest" message="tns:displayallStudentID" />
<output wsam:Action="http://test/AWebService/displayallStudentIDResponse" message="tns:displayallStudentIDResponse" />
</operation>
<operation name="displayallLandLordID">
<input wsam:Action="http://test/AWebService/displayallLandLordIDRequest" message="tns:displayallLandLordID" />
<output wsam:Action="http://test/AWebService/displayallLandLordIDResponse" message="tns:displayallLandLordIDResponse" />
</operation>
<operation name="UpdateEntranceLogin">
<input wsam:Action="http://test/AWebService/UpdateEntranceLoginRequest" message="tns:UpdateEntranceLogin" />
<output wsam:Action="http://test/AWebService/UpdateEntranceLoginResponse" message="tns:UpdateEntranceLoginResponse" />
</operation>
<operation name="thirdpropertyimage">
<input wsam:Action="http://test/AWebService/thirdpropertyimageRequest" message="tns:thirdpropertyimage" />
<output wsam:Action="http://test/AWebService/thirdpropertyimageResponse" message="tns:thirdpropertyimageResponse" />
</operation>
<operation name="insertadminprofileimage">
<input wsam:Action="http://test/AWebService/insertadminprofileimageRequest" message="tns:insertadminprofileimage" />
<output wsam:Action="http://test/AWebService/insertadminprofileimageResponse" message="tns:insertadminprofileimageResponse" />
</operation>
<operation name="studentreceivedenquire">
<input wsam:Action="http://test/AWebService/studentreceivedenquireRequest" message="tns:studentreceivedenquire" />
<output wsam:Action="http://test/AWebService/studentreceivedenquireResponse" message="tns:studentreceivedenquireResponse" />
</operation>
<operation name="SearchAdminProfile">
<input wsam:Action="http://test/AWebService/SearchAdminProfileRequest" message="tns:SearchAdminProfile" />
<output wsam:Action="http://test/AWebService/SearchAdminProfileResponse" message="tns:SearchAdminProfileResponse" />
</operation>
<operation name="updateLandLordProfile">
<input wsam:Action="http://test/AWebService/updateLandLordProfileRequest" message="tns:updateLandLordProfile" />
<output wsam:Action="http://test/AWebService/updateLandLordProfileResponse" message="tns:updateLandLordProfileResponse" />
</operation>
<operation name="insertfirstpropertyimage">
<input wsam:Action="http://test/AWebService/insertfirstpropertyimageRequest" message="tns:insertfirstpropertyimage" />
<output wsam:Action="http://test/AWebService/insertfirstpropertyimageResponse" message="tns:insertfirstpropertyimageResponse" />
</operation>
<operation name="studentsentenquire">
<input wsam:Action="http://test/AWebService/studentsentenquireRequest" message="tns:studentsentenquire" />
<output wsam:Action="http://test/AWebService/studentsentenquireResponse" message="tns:studentsentenquireResponse" />
</operation>
<operation name="InsertEntranceLogin">
<input wsam:Action="http://test/AWebService/InsertEntranceLoginRequest" message="tns:InsertEntranceLogin" />
<output wsam:Action="http://test/AWebService/InsertEntranceLoginResponse" message="tns:InsertEntranceLoginResponse" />
</operation>
<operation name="LandLordPropertydetails">
<input wsam:Action="http://test/AWebService/LandLordPropertydetailsRequest" message="tns:LandLordPropertydetails" />
<output wsam:Action="http://test/AWebService/LandLordPropertydetailsResponse" message="tns:LandLordPropertydetailsResponse" />
</operation>
<operation name="SearchStudentProfile">
<input wsam:Action="http://test/AWebService/SearchStudentProfileRequest" message="tns:SearchStudentProfile" />
<output wsam:Action="http://test/AWebService/SearchStudentProfileResponse" message="tns:SearchStudentProfileResponse" />
</operation>
<operation name="adminreceivedenquire">
<input wsam:Action="http://test/AWebService/adminreceivedenquireRequest" message="tns:adminreceivedenquire" />
<output wsam:Action="http://test/AWebService/adminreceivedenquireResponse" message="tns:adminreceivedenquireResponse" />
</operation>
<operation name="landlordreceivedenquire">
<input wsam:Action="http://test/AWebService/landlordreceivedenquireRequest" message="tns:landlordreceivedenquire" />
<output wsam:Action="http://test/AWebService/landlordreceivedenquireResponse" message="tns:landlordreceivedenquireResponse" />
</operation>
<operation name="insertsecondpropertyimage">
<input wsam:Action="http://test/AWebService/insertsecondpropertyimageRequest" message="tns:insertsecondpropertyimage" />
<output wsam:Action="http://test/AWebService/insertsecondpropertyimageResponse" message="tns:insertsecondpropertyimageResponse" />
</operation>
<operation name="updateStudentProfile">
<input wsam:Action="http://test/AWebService/updateStudentProfileRequest" message="tns:updateStudentProfile" />
<output wsam:Action="http://test/AWebService/updateStudentProfileResponse" message="tns:updateStudentProfileResponse" />
</operation>
<operation name="SearchLandLordProfile">
<input wsam:Action="http://test/AWebService/SearchLandLordProfileRequest" message="tns:SearchLandLordProfile" />
<output wsam:Action="http://test/AWebService/SearchLandLordProfileResponse" message="tns:SearchLandLordProfileResponse" />
</operation>
<operation name="insertstudentprofileimage">
<input wsam:Action="http://test/AWebService/insertstudentprofileimageRequest" message="tns:insertstudentprofileimage" />
<output wsam:Action="http://test/AWebService/insertstudentprofileimageResponse" message="tns:insertstudentprofileimageResponse" />
</operation>
<operation name="studentprofileimage">
<input wsam:Action="http://test/AWebService/studentprofileimageRequest" message="tns:studentprofileimage" />
<output wsam:Action="http://test/AWebService/studentprofileimageResponse" message="tns:studentprofileimageResponse" />
</operation>
<operation name="EntranceLoginDetails">
<input wsam:Action="http://test/AWebService/EntranceLoginDetailsRequest" message="tns:EntranceLoginDetails" />
<output wsam:Action="http://test/AWebService/EntranceLoginDetailsResponse" message="tns:EntranceLoginDetailsResponse" />
</operation>
<operation name="userenquirefeedback">
<input wsam:Action="http://test/AWebService/userenquirefeedbackRequest" message="tns:userenquirefeedback" />
<output wsam:Action="http://test/AWebService/userenquirefeedbackResponse" message="tns:userenquirefeedbackResponse" />
</operation>
<operation name="updateAdminProfile">
<input wsam:Action="http://test/AWebService/updateAdminProfileRequest" message="tns:updateAdminProfile" />
<output wsam:Action="http://test/AWebService/updateAdminProfileResponse" message="tns:updateAdminProfileResponse" />
</operation>
<operation name="displayallPropertyID">
<input wsam:Action="http://test/AWebService/displayallPropertyIDRequest" message="tns:displayallPropertyID" />
<output wsam:Action="http://test/AWebService/displayallPropertyIDResponse" message="tns:displayallPropertyIDResponse" />
</operation>
<operation name="databaseconnection">
<input wsam:Action="http://test/AWebService/databaseconnectionRequest" message="tns:databaseconnection" />
<output wsam:Action="http://test/AWebService/databaseconnectionResponse" message="tns:databaseconnectionResponse" />
</operation>
<operation name="secondpropertyimage">
<input wsam:Action="http://test/AWebService/secondpropertyimageRequest" message="tns:secondpropertyimage" />
<output wsam:Action="http://test/AWebService/secondpropertyimageResponse" message="tns:secondpropertyimageResponse" />
</operation>
<operation name="adminprofileimage">
<input wsam:Action="http://test/AWebService/adminprofileimageRequest" message="tns:adminprofileimage" />
<output wsam:Action="http://test/AWebService/adminprofileimageResponse" message="tns:adminprofileimageResponse" />
</operation>
<operation name="displayallEntranceLoginID">
<input wsam:Action="http://test/AWebService/displayallEntranceLoginIDRequest" message="tns:displayallEntranceLoginID" />
<output wsam:Action="http://test/AWebService/displayallEntranceLoginIDResponse" message="tns:displayallEntranceLoginIDResponse" />
</operation>
<operation name="landlordsentenquire">
<input wsam:Action="http://test/AWebService/landlordsentenquireRequest" message="tns:landlordsentenquire" />
<output wsam:Action="http://test/AWebService/landlordsentenquireResponse" message="tns:landlordsentenquireResponse" />
</operation>
<operation name="deleteLandLordProfile">
<input wsam:Action="http://test/AWebService/deleteLandLordProfileRequest" message="tns:deleteLandLordProfile" />
<output wsam:Action="http://test/AWebService/deleteLandLordProfileResponse" message="tns:deleteLandLordProfileResponse" />
</operation>
<operation name="landlordprofileimage">
<input wsam:Action="http://test/AWebService/landlordprofileimageRequest" message="tns:landlordprofileimage" />
<output wsam:Action="http://test/AWebService/landlordprofileimageResponse" message="tns:landlordprofileimageResponse" />
</operation>
<operation name="insertlandlordprofileimage">
<input wsam:Action="http://test/AWebService/insertlandlordprofileimageRequest" message="tns:insertlandlordprofileimage" />
<output wsam:Action="http://test/AWebService/insertlandlordprofileimageResponse" message="tns:insertlandlordprofileimageResponse" />
</operation>
<operation name="insertthirdpropertyimage">
<input wsam:Action="http://test/AWebService/insertthirdpropertyimageRequest" message="tns:insertthirdpropertyimage" />
<output wsam:Action="http://test/AWebService/insertthirdpropertyimageResponse" message="tns:insertthirdpropertyimageResponse" />
</operation>
<operation name="deleteEntranceLogin">
<input wsam:Action="http://test/AWebService/deleteEntranceLoginRequest" message="tns:deleteEntranceLogin" />
<output wsam:Action="http://test/AWebService/deleteEntranceLoginResponse" message="tns:deleteEntranceLoginResponse" />
</operation>
</portType>
<binding name="AWebServicePortBinding" type="tns:AWebService">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document" />
<operation name="notification">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="entrancelogin">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="StudentSignUp">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="searchLandLordID">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="userEnquire">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="landlordlogin">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="adminlogin">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="studentlogin">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="LandLordSignUp">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="searchStudentID">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="StudentProfile">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="hello">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="AdminSignUp">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="deleteProperty">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="Enquirefeedback">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="updateProperty">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="Propertydetails">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="searchEnquire">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="DeleteStudents">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="propertyimage">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="InsertProperty">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="adminsentenquire">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="AdminProfile">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="LandLordProfile">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="displayallStudentID">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="displayallLandLordID">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="UpdateEntranceLogin">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="thirdpropertyimage">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="insertadminprofileimage">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="studentreceivedenquire">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="SearchAdminProfile">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="updateLandLordProfile">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="insertfirstpropertyimage">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="studentsentenquire">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="InsertEntranceLogin">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="LandLordPropertydetails">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="SearchStudentProfile">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="adminreceivedenquire">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="landlordreceivedenquire">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="insertsecondpropertyimage">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="updateStudentProfile">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="SearchLandLordProfile">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="insertstudentprofileimage">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="studentprofileimage">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="EntranceLoginDetails">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="userenquirefeedback">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="updateAdminProfile">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="displayallPropertyID">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="databaseconnection">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="secondpropertyimage">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="adminprofileimage">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="displayallEntranceLoginID">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="landlordsentenquire">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="deleteLandLordProfile">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="landlordprofileimage">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="insertlandlordprofileimage">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="insertthirdpropertyimage">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="deleteEntranceLogin">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
</binding>
<service name="AWebService">
<port name="AWebServicePort" binding="tns:AWebServicePortBinding">
<soap:address location="http://localhost:8080/AccommodationWebService/AWebService" />
</port>
</service>
</definitions>