Advanced Programming Assignment System/AccommodationSystem/web/WEB-INF/wsdl/localhost_8080/AccommodationWebService/AWebService.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.2-hudson-740-. --><!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.2-hudson-740-. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://test/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://test/" name="AWebService">
<types>
<xsd:schema>
<xsd:import namespace="http://test/" schemaLocation="http://localhost:8080/AccommodationWebService/AWebService?xsd=1" />
</xsd:schema>
</types>
<message name="notification">
<part name="parameters" element="tns:notification" />
</message>
<message name="notificationResponse">
<part name="parameters" element="tns:notificationResponse" />
</message>
<message name="databaseconnection">
<part name="parameters" element="tns:databaseconnection" />
</message>
<message name="databaseconnectionResponse">
<part name="parameters" element="tns:databaseconnectionResponse" />
</message>
<message name="updateStudentProfile">
<part name="parameters" element="tns:updateStudentProfile" />
</message>
<message name="updateStudentProfileResponse">
<part name="parameters" element="tns:updateStudentProfileResponse" />
</message>
<message name="setStudentUsername">
<part name="parameters" element="tns:setStudentUsername" />
</message>
<message name="setStudentUsernameResponse">
<part name="parameters" element="tns:setStudentUsernameResponse" />
</message>
<message name="getStudentUsername">
<part name="parameters" element="tns:getStudentUsername" />
</message>
<message name="getStudentUsernameResponse">
<part name="parameters" element="tns:getStudentUsernameResponse" />
</message>
<message name="setStudentPassword">
<part name="parameters" element="tns:setStudentPassword" />
</message>
<message name="setStudentPasswordResponse">
<part name="parameters" element="tns:setStudentPasswordResponse" />
</message>
<message name="getStudentPassword">
<part name="parameters" element="tns:getStudentPassword" />
</message>
<message name="getStudentPasswordResponse">
<part name="parameters" element="tns:getStudentPasswordResponse" />
</message>
<message name="setStudentContact">
<part name="parameters" element="tns:setStudentContact" />
</message>
<message name="setStudentContactResponse">
<part name="parameters" element="tns:setStudentContactResponse" />
</message>
<message name="getStudentContact">
<part name="parameters" element="tns:getStudentContact" />
</message>
<message name="getStudentContactResponse">
<part name="parameters" element="tns:getStudentContactResponse" />
</message>
<message name="setStudentAddress">
<part name="parameters" element="tns:setStudentAddress" />
</message>
<message name="setStudentAddressResponse">
<part name="parameters" element="tns:setStudentAddressResponse" />
</message>
<message name="getStudentAddress">
<part name="parameters" element="tns:getStudentAddress" />
</message>
<message name="getStudentAddressResponse">
<part name="parameters" element="tns:getStudentAddressResponse" />
</message>
<message name="entrancelogin">
<part name="parameters" element="tns:entrancelogin" />
</message>
<message name="entranceloginResponse">
<part name="parameters" element="tns:entranceloginResponse" />
</message>
<message name="studentlogin">
<part name="parameters" element="tns:studentlogin" />
</message>
<message name="studentloginResponse">
<part name="parameters" element="tns:studentloginResponse" />
</message>
<message name="landlordlogin">
<part name="parameters" element="tns:landlordlogin" />
</message>
<message name="landlordloginResponse">
<part name="parameters" element="tns:landlordloginResponse" />
</message>
<message name="adminlogin">
<part name="parameters" element="tns:adminlogin" />
</message>
<message name="adminloginResponse">
<part name="parameters" element="tns:adminloginResponse" />
</message>
<message name="StudentSignUp">
<part name="parameters" element="tns:StudentSignUp" />
</message>
<message name="StudentSignUpResponse">
<part name="parameters" element="tns:StudentSignUpResponse" />
</message>
<message name="LandLordSignUp">
<part name="parameters" element="tns:LandLordSignUp" />
</message>
<message name="LandLordSignUpResponse">
<part name="parameters" element="tns:LandLordSignUpResponse" />
</message>
<message name="AdminSignUp">
<part name="parameters" element="tns:AdminSignUp" />
</message>
<message name="AdminSignUpResponse">
<part name="parameters" element="tns:AdminSignUpResponse" />
</message>
<message name="searchStudentID">
<part name="parameters" element="tns:searchStudentID" />
</message>
<message name="searchStudentIDResponse">
<part name="parameters" element="tns:searchStudentIDResponse" />
</message>
<message name="setStudentName">
<part name="parameters" element="tns:setStudentName" />
</message>
<message name="setStudentNameResponse">
<part name="parameters" element="tns:setStudentNameResponse" />
</message>
<message name="getStudentName">
<part name="parameters" element="tns:getStudentName" />
</message>
<message name="getStudentNameResponse">
<part name="parameters" element="tns:getStudentNameResponse" />
</message>
<message name="setStudentImage">
<part name="parameters" element="tns:setStudentImage" />
</message>
<message name="setStudentImageResponse">
<part name="parameters" element="tns:setStudentImageResponse" />
</message>
<message name="getStudentImage">
<part name="parameters" element="tns:getStudentImage" />
</message>
<message name="getStudentImageResponse">
<part name="parameters" element="tns:getStudentImageResponse" />
</message>
<message name="StudentProfile">
<part name="parameters" element="tns:StudentProfile" />
</message>
<message name="StudentProfileResponse">
<part name="parameters" element="tns:StudentProfileResponse" />
</message>
<message name="userEnquire">
<part name="parameters" element="tns:userEnquire" />
</message>
<message name="userEnquireResponse">
<part name="parameters" element="tns:userEnquireResponse" />
</message>
<message name="hello">
<part name="parameters" element="tns:hello" />
</message>
<message name="helloResponse">
<part name="parameters" element="tns:helloResponse" />
</message>
<portType name="AWebService">
<operation name="notification">
<input wsam:Action="http://test/AWebService/notificationRequest" message="tns:notification" />
<output wsam:Action="http://test/AWebService/notificationResponse" message="tns:notificationResponse" />
</operation>
<operation name="databaseconnection">
<input wsam:Action="http://test/AWebService/databaseconnectionRequest" message="tns:databaseconnection" />
<output wsam:Action="http://test/AWebService/databaseconnectionResponse" message="tns:databaseconnectionResponse" />
</operation>
<operation name="updateStudentProfile">
<input wsam:Action="http://test/AWebService/updateStudentProfileRequest" message="tns:updateStudentProfile" />
<output wsam:Action="http://test/AWebService/updateStudentProfileResponse" message="tns:updateStudentProfileResponse" />
</operation>
<operation name="setStudentUsername">
<input wsam:Action="http://test/AWebService/setStudentUsernameRequest" message="tns:setStudentUsername" />
<output wsam:Action="http://test/AWebService/setStudentUsernameResponse" message="tns:setStudentUsernameResponse" />
</operation>
<operation name="getStudentUsername">
<input wsam:Action="http://test/AWebService/getStudentUsernameRequest" message="tns:getStudentUsername" />
<output wsam:Action="http://test/AWebService/getStudentUsernameResponse" message="tns:getStudentUsernameResponse" />
</operation>
<operation name="setStudentPassword">
<input wsam:Action="http://test/AWebService/setStudentPasswordRequest" message="tns:setStudentPassword" />
<output wsam:Action="http://test/AWebService/setStudentPasswordResponse" message="tns:setStudentPasswordResponse" />
</operation>
<operation name="getStudentPassword">
<input wsam:Action="http://test/AWebService/getStudentPasswordRequest" message="tns:getStudentPassword" />
<output wsam:Action="http://test/AWebService/getStudentPasswordResponse" message="tns:getStudentPasswordResponse" />
</operation>
<operation name="setStudentContact">
<input wsam:Action="http://test/AWebService/setStudentContactRequest" message="tns:setStudentContact" />
<output wsam:Action="http://test/AWebService/setStudentContactResponse" message="tns:setStudentContactResponse" />
</operation>
<operation name="getStudentContact">
<input wsam:Action="http://test/AWebService/getStudentContactRequest" message="tns:getStudentContact" />
<output wsam:Action="http://test/AWebService/getStudentContactResponse" message="tns:getStudentContactResponse" />
</operation>
<operation name="setStudentAddress">
<input wsam:Action="http://test/AWebService/setStudentAddressRequest" message="tns:setStudentAddress" />
<output wsam:Action="http://test/AWebService/setStudentAddressResponse" message="tns:setStudentAddressResponse" />
</operation>
<operation name="getStudentAddress">
<input wsam:Action="http://test/AWebService/getStudentAddressRequest" message="tns:getStudentAddress" />
<output wsam:Action="http://test/AWebService/getStudentAddressResponse" message="tns:getStudentAddressResponse" />
</operation>
<operation name="entrancelogin">
<input wsam:Action="http://test/AWebService/entranceloginRequest" message="tns:entrancelogin" />
<output wsam:Action="http://test/AWebService/entranceloginResponse" message="tns:entranceloginResponse" />
</operation>
<operation name="studentlogin">
<input wsam:Action="http://test/AWebService/studentloginRequest" message="tns:studentlogin" />
<output wsam:Action="http://test/AWebService/studentloginResponse" message="tns:studentloginResponse" />
</operation>
<operation name="landlordlogin">
<input wsam:Action="http://test/AWebService/landlordloginRequest" message="tns:landlordlogin" />
<output wsam:Action="http://test/AWebService/landlordloginResponse" message="tns:landlordloginResponse" />
</operation>
<operation name="adminlogin">
<input wsam:Action="http://test/AWebService/adminloginRequest" message="tns:adminlogin" />
<output wsam:Action="http://test/AWebService/adminloginResponse" message="tns:adminloginResponse" />
</operation>
<operation name="StudentSignUp">
<input wsam:Action="http://test/AWebService/StudentSignUpRequest" message="tns:StudentSignUp" />
<output wsam:Action="http://test/AWebService/StudentSignUpResponse" message="tns:StudentSignUpResponse" />
</operation>
<operation name="LandLordSignUp">
<input wsam:Action="http://test/AWebService/LandLordSignUpRequest" message="tns:LandLordSignUp" />
<output wsam:Action="http://test/AWebService/LandLordSignUpResponse" message="tns:LandLordSignUpResponse" />
</operation>
<operation name="AdminSignUp">
<input wsam:Action="http://test/AWebService/AdminSignUpRequest" message="tns:AdminSignUp" />
<output wsam:Action="http://test/AWebService/AdminSignUpResponse" message="tns:AdminSignUpResponse" />
</operation>
<operation name="searchStudentID">
<input wsam:Action="http://test/AWebService/searchStudentIDRequest" message="tns:searchStudentID" />
<output wsam:Action="http://test/AWebService/searchStudentIDResponse" message="tns:searchStudentIDResponse" />
</operation>
<operation name="setStudentName">
<input wsam:Action="http://test/AWebService/setStudentNameRequest" message="tns:setStudentName" />
<output wsam:Action="http://test/AWebService/setStudentNameResponse" message="tns:setStudentNameResponse" />
</operation>
<operation name="getStudentName">
<input wsam:Action="http://test/AWebService/getStudentNameRequest" message="tns:getStudentName" />
<output wsam:Action="http://test/AWebService/getStudentNameResponse" message="tns:getStudentNameResponse" />
</operation>
<operation name="setStudentImage">
<input wsam:Action="http://test/AWebService/setStudentImageRequest" message="tns:setStudentImage" />
<output wsam:Action="http://test/AWebService/setStudentImageResponse" message="tns:setStudentImageResponse" />
</operation>
<operation name="getStudentImage">
<input wsam:Action="http://test/AWebService/getStudentImageRequest" message="tns:getStudentImage" />
<output wsam:Action="http://test/AWebService/getStudentImageResponse" message="tns:getStudentImageResponse" />
</operation>
<operation name="StudentProfile">
<input wsam:Action="http://test/AWebService/StudentProfileRequest" message="tns:StudentProfile" />
<output wsam:Action="http://test/AWebService/StudentProfileResponse" message="tns:StudentProfileResponse" />
</operation>
<operation name="userEnquire">
<input wsam:Action="http://test/AWebService/userEnquireRequest" message="tns:userEnquire" />
<output wsam:Action="http://test/AWebService/userEnquireResponse" message="tns:userEnquireResponse" />
</operation>
<operation name="hello">
<input wsam:Action="http://test/AWebService/helloRequest" message="tns:hello" />
<output wsam:Action="http://test/AWebService/helloResponse" message="tns:helloResponse" />
</operation>
</portType>
<binding name="AWebServicePortBinding" type="tns:AWebService">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document" />
<operation name="notification">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="databaseconnection">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="updateStudentProfile">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="setStudentUsername">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="getStudentUsername">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="setStudentPassword">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="getStudentPassword">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="setStudentContact">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="getStudentContact">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="setStudentAddress">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="getStudentAddress">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="entrancelogin">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="studentlogin">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="landlordlogin">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="adminlogin">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="StudentSignUp">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="LandLordSignUp">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="AdminSignUp">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="searchStudentID">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="setStudentName">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="getStudentName">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="setStudentImage">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="getStudentImage">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="StudentProfile">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="userEnquire">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="hello">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
</binding>
<service name="AWebService">
<port name="AWebServicePort" binding="tns:AWebServicePortBinding">
<soap:address location="http://localhost:8080/AccommodationWebService/AWebService" />
</port>
</service>
</definitions>