Advanced Programming Assignment System/AccommodationSystem/web/WEB-INF/wsdl/localhost_8080/AccommodationWebService/AWebService.xsd_1.xsd

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.2-hudson-740-. --><xs:schema xmlns:tns="http://test/" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://test/">

<xs:element name="AdminSignUp" type="tns:AdminSignUp" />

<xs:element name="AdminSignUpResponse" type="tns:AdminSignUpResponse" />

<xs:element name="LandLordSignUp" type="tns:LandLordSignUp" />

<xs:element name="LandLordSignUpResponse" type="tns:LandLordSignUpResponse" />

<xs:element name="StudentProfile" type="tns:StudentProfile" />

<xs:element name="StudentProfileResponse" type="tns:StudentProfileResponse" />

<xs:element name="StudentSignUp" type="tns:StudentSignUp" />

<xs:element name="StudentSignUpResponse" type="tns:StudentSignUpResponse" />

<xs:element name="adminlogin" type="tns:adminlogin" />

<xs:element name="adminloginResponse" type="tns:adminloginResponse" />

<xs:element name="databaseconnection" type="tns:databaseconnection" />

<xs:element name="databaseconnectionResponse" type="tns:databaseconnectionResponse" />

<xs:element name="entrancelogin" type="tns:entrancelogin" />

<xs:element name="entranceloginResponse" type="tns:entranceloginResponse" />

<xs:element name="getStudentAddress" type="tns:getStudentAddress" />

<xs:element name="getStudentAddressResponse" type="tns:getStudentAddressResponse" />

<xs:element name="getStudentContact" type="tns:getStudentContact" />

<xs:element name="getStudentContactResponse" type="tns:getStudentContactResponse" />

<xs:element name="getStudentImage" type="tns:getStudentImage" />

<xs:element name="getStudentImageResponse" type="tns:getStudentImageResponse" />

<xs:element name="getStudentName" type="tns:getStudentName" />

<xs:element name="getStudentNameResponse" type="tns:getStudentNameResponse" />

<xs:element name="getStudentPassword" type="tns:getStudentPassword" />

<xs:element name="getStudentPasswordResponse" type="tns:getStudentPasswordResponse" />

<xs:element name="getStudentUsername" type="tns:getStudentUsername" />

<xs:element name="getStudentUsernameResponse" type="tns:getStudentUsernameResponse" />

<xs:element name="hello" type="tns:hello" />

<xs:element name="helloResponse" type="tns:helloResponse" />

<xs:element name="landlordlogin" type="tns:landlordlogin" />

<xs:element name="landlordloginResponse" type="tns:landlordloginResponse" />

<xs:element name="notification" type="tns:notification" />

<xs:element name="notificationResponse" type="tns:notificationResponse" />

<xs:element name="searchStudentID" type="tns:searchStudentID" />

<xs:element name="searchStudentIDResponse" type="tns:searchStudentIDResponse" />

<xs:element name="setStudentAddress" type="tns:setStudentAddress" />

<xs:element name="setStudentAddressResponse" type="tns:setStudentAddressResponse" />

<xs:element name="setStudentContact" type="tns:setStudentContact" />

<xs:element name="setStudentContactResponse" type="tns:setStudentContactResponse" />

<xs:element name="setStudentImage" type="tns:setStudentImage" />

<xs:element name="setStudentImageResponse" type="tns:setStudentImageResponse" />

<xs:element name="setStudentName" type="tns:setStudentName" />

<xs:element name="setStudentNameResponse" type="tns:setStudentNameResponse" />

<xs:element name="setStudentPassword" type="tns:setStudentPassword" />

<xs:element name="setStudentPasswordResponse" type="tns:setStudentPasswordResponse" />

<xs:element name="setStudentUsername" type="tns:setStudentUsername" />

<xs:element name="setStudentUsernameResponse" type="tns:setStudentUsernameResponse" />

<xs:element name="studentlogin" type="tns:studentlogin" />

<xs:element name="studentloginResponse" type="tns:studentloginResponse" />

<xs:element name="updateStudentProfile" type="tns:updateStudentProfile" />

<xs:element name="updateStudentProfileResponse" type="tns:updateStudentProfileResponse" />

<xs:element name="userEnquire" type="tns:userEnquire" />

<xs:element name="userEnquireResponse" type="tns:userEnquireResponse" />

<xs:complexType name="getStudentImage">
<xs:sequence />
</xs:complexType>

<xs:complexType name="getStudentImageResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="AdminSignUp">
<xs:sequence>
<xs:element name="arg0" type="xs:string" minOccurs="0" />
<xs:element name="arg1" type="xs:string" minOccurs="0" />
<xs:element name="arg2" type="xs:string" minOccurs="0" />
<xs:element name="arg3" type="xs:string" minOccurs="0" />
<xs:element name="arg4" type="xs:string" minOccurs="0" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="AdminSignUpResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="setStudentContact">
<xs:sequence>
<xs:element name="arg0" type="xs:string" minOccurs="0" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="setStudentContactResponse">
<xs:sequence />
</xs:complexType>

<xs:complexType name="LandLordSignUp">
<xs:sequence>
<xs:element name="arg0" type="xs:string" minOccurs="0" />
<xs:element name="arg1" type="xs:string" minOccurs="0" />
<xs:element name="arg2" type="xs:string" minOccurs="0" />
<xs:element name="arg3" type="xs:int" />
<xs:element name="arg4" type="xs:string" minOccurs="0" />
<xs:element name="arg5" type="xs:string" minOccurs="0" />
<xs:element name="arg6" type="xs:string" minOccurs="0" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="LandLordSignUpResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="setStudentPassword">
<xs:sequence>
<xs:element name="arg0" type="xs:string" minOccurs="0" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="setStudentPasswordResponse">
<xs:sequence />
</xs:complexType>

<xs:complexType name="setStudentImage">
<xs:sequence>
<xs:element name="arg0" type="xs:string" minOccurs="0" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="setStudentImageResponse">
<xs:sequence />
</xs:complexType>

<xs:complexType name="adminlogin">
<xs:sequence>
<xs:element name="arg0" type="xs:string" minOccurs="0" />
<xs:element name="arg1" type="xs:string" minOccurs="0" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="adminloginResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="userEnquire">
<xs:sequence>
<xs:element name="arg0" type="xs:string" minOccurs="0" />
<xs:element name="arg1" type="xs:string" minOccurs="0" />
<xs:element name="arg2" type="xs:string" minOccurs="0" />
<xs:element name="arg3" type="xs:string" minOccurs="0" />
<xs:element name="arg4" type="xs:string" minOccurs="0" />
<xs:element name="arg5" type="xs:string" minOccurs="0" />
<xs:element name="arg6" type="xs:string" minOccurs="0" />
<xs:element name="arg7" type="xs:string" minOccurs="0" />
<xs:element name="arg8" type="xs:string" minOccurs="0" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="userEnquireResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="studentlogin">
<xs:sequence>
<xs:element name="arg0" type="xs:string" minOccurs="0" />
<xs:element name="arg1" type="xs:string" minOccurs="0" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="studentloginResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="getStudentName">
<xs:sequence />
</xs:complexType>

<xs:complexType name="getStudentNameResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="updateStudentProfile">
<xs:sequence>
<xs:element name="arg0" type="xs:string" minOccurs="0" />
<xs:element name="arg1" type="xs:string" minOccurs="0" />
<xs:element name="arg2" type="xs:string" minOccurs="0" />
<xs:element name="arg3" type="xs:string" minOccurs="0" />
<xs:element name="arg4" type="xs:string" minOccurs="0" />
<xs:element name="arg5" type="xs:string" minOccurs="0" />
<xs:element name="arg6" type="xs:string" minOccurs="0" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="updateStudentProfileResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="landlordlogin">
<xs:sequence>
<xs:element name="arg0" type="xs:string" minOccurs="0" />
<xs:element name="arg1" type="xs:string" minOccurs="0" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="landlordloginResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="notification">
<xs:sequence />
</xs:complexType>

<xs:complexType name="notificationResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="StudentSignUp">
<xs:sequence>
<xs:element name="arg0" type="xs:string" minOccurs="0" />
<xs:element name="arg1" type="xs:string" minOccurs="0" />
<xs:element name="arg2" type="xs:string" minOccurs="0" />
<xs:element name="arg3" type="xs:int" />
<xs:element name="arg4" type="xs:string" minOccurs="0" />
<xs:element name="arg5" type="xs:string" minOccurs="0" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="StudentSignUpResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="setStudentName">
<xs:sequence>
<xs:element name="arg0" type="xs:string" minOccurs="0" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="setStudentNameResponse">
<xs:sequence />
</xs:complexType>

<xs:complexType name="getStudentPassword">
<xs:sequence />
</xs:complexType>

<xs:complexType name="getStudentPasswordResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="entrancelogin">
<xs:sequence>
<xs:element name="arg0" type="xs:string" minOccurs="0" />
<xs:element name="arg1" type="xs:string" minOccurs="0" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="entranceloginResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="getStudentContact">
<xs:sequence />
</xs:complexType>

<xs:complexType name="getStudentContactResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="getStudentUsername">
<xs:sequence />
</xs:complexType>

<xs:complexType name="getStudentUsernameResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="searchStudentID">
<xs:sequence>
<xs:element name="arg0" type="xs:string" minOccurs="0" />
<xs:element name="arg1" type="xs:string" minOccurs="0" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="searchStudentIDResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="hello">
<xs:sequence>
<xs:element name="name" type="xs:string" minOccurs="0" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="helloResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="setStudentAddress">
<xs:sequence>
<xs:element name="arg0" type="xs:string" minOccurs="0" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="setStudentAddressResponse">
<xs:sequence />
</xs:complexType>

<xs:complexType name="databaseconnection">
<xs:sequence />
</xs:complexType>

<xs:complexType name="databaseconnectionResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="getStudentAddress">
<xs:sequence />
</xs:complexType>

<xs:complexType name="getStudentAddressResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="setStudentUsername">
<xs:sequence>
<xs:element name="arg0" type="xs:string" minOccurs="0" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="setStudentUsernameResponse">
<xs:sequence />
</xs:complexType>

<xs:complexType name="StudentProfile">
<xs:sequence>
<xs:element name="arg0" type="xs:string" minOccurs="0" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="StudentProfileResponse">
<xs:sequence />
</xs:complexType>
</xs:schema>