Advanced Programming Assignment System/AccommodationSystem/web/WEB-INF/wsdl/localhost_8080/AccommodationWebService/WebServicefuntions.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.2-hudson-740-. --><!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.2-hudson-740-. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://webservicefunctions/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://webservicefunctions/" name="WebServicefuntions">
<types>
<xsd:schema>
<xsd:import namespace="http://webservicefunctions/" schemaLocation="http://localhost:8080/AccommodationWebService/WebServicefuntions?xsd=1" />
</xsd:schema>
</types>
<message name="hello">
<part name="parameters" element="tns:hello" />
</message>
<message name="helloResponse">
<part name="parameters" element="tns:helloResponse" />
</message>
<message name="databaseconnection">
<part name="parameters" element="tns:databaseconnection" />
</message>
<message name="databaseconnectionResponse">
<part name="parameters" element="tns:databaseconnectionResponse" />
</message>
<message name="entrancelogin">
<part name="parameters" element="tns:entrancelogin" />
</message>
<message name="entranceloginResponse">
<part name="parameters" element="tns:entranceloginResponse" />
</message>
<portType name="WebServicefuntions">
<operation name="hello">
<input wsam:Action="http://webservicefunctions/WebServicefuntions/helloRequest" message="tns:hello" />
<output wsam:Action="http://webservicefunctions/WebServicefuntions/helloResponse" message="tns:helloResponse" />
</operation>
<operation name="databaseconnection">
<input wsam:Action="http://webservicefunctions/WebServicefuntions/databaseconnectionRequest" message="tns:databaseconnection" />
<output wsam:Action="http://webservicefunctions/WebServicefuntions/databaseconnectionResponse" message="tns:databaseconnectionResponse" />
</operation>
<operation name="entrancelogin">
<input wsam:Action="http://webservicefunctions/WebServicefuntions/entranceloginRequest" message="tns:entrancelogin" />
<output wsam:Action="http://webservicefunctions/WebServicefuntions/entranceloginResponse" message="tns:entranceloginResponse" />
</operation>
</portType>
<binding name="WebServicefuntionsPortBinding" type="tns:WebServicefuntions">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document" />
<operation name="hello">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="databaseconnection">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="entrancelogin">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
</binding>
<service name="WebServicefuntions">
<port name="WebServicefuntionsPort" binding="tns:WebServicefuntionsPortBinding">
<soap:address location="http://localhost:8080/AccommodationWebService/WebServicefuntions" />
</port>
</service>
</definitions>